:root {
	--preto: #333333;
  --branco: #ffffff;
  --brancoAcizentado: #e4e4e4;
  --azulClaro: #0077BB;
  --azulEscuro: #00688B;
  --vermelho: #ff0000;
}

* {  
  font-family: "Times New Roman", "Arial", "Verdana", "sans-serif";
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}