:root {
	--preto: #333333;
  --branco: #ffffff;
  --brancoAcizentado: #e4e4e4;
  --azulClaro: #0077BB;
  --azulEscuro: #00688B;
  --vermelho: #ff0000;
}

* {  
  font-family: "Times New Roman", "Arial", "Verdana", "sans-serif";
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, var(--vermelho), var(--branco), var(--azulClaro), var(--azulEscuro));
  background-size: 100% 100%;
  color: var(--preto);
  margin: 0 0 180px 0;
  padding: 0;
  font-family: Principal;
}

.container {
  text-align: center;
  padding: 20px;
  height: 80vh;
}

.page-title {
  color: var(--preto);
  margin: 30px 0 30px;
}

.page-subtitle {
  color: var(--preto);
  margin-bottom: 15px;
}

input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 4px 50px 4px 50px;
  border-bottom: 4px solid var(--brancoAcizentado);
  margin-bottom: 10px;
}

input:hover {
  border-bottom: 4px solid var(--vermelho);
}